* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.mainGrid {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(30px, 40px);
  background-color: white;
}

.title {
  padding: 1vw;
  grid-column: 2;
  font-size: 1.6vw;
  grid-row: 1;
  text-align: justify;
  font-weight: bolder;
  font-family: "Anton", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Libre Baskerville", serif;
}

.description {
  padding: 1.5vw;
  margin-top: 1vw;
  font-size: 1.4vw;
  grid-row: 2;
  text-align: justify;
  grid-column: 2;
}

.uploaded_time {
  padding: 1vw;
  font-size: 1vw;
  grid-row: 3;
  text-align: center;
  grid-column: 2;
  justify-self: start;
}
